footer {
    height: 150px;
    width: 100%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text {
    font-weight: 500;
    text-decoration: none;
    color: #FFFFFFB2;
    transition: .2s;
    text-align: center;
}

.footer-text:hover {
    color: #FFFFFF;
}